.header{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
    .logo{
        width: 100px;
        height: 100px;
        background: red;
    }
}