.header {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header_logo {
        h3 {
            margin: 0;
            padding: 0;
        }
        p {
            padding: 0;
            margin: 0;
            margin-top: 10px;
        }
    }
}
:where(.css-dev-only-do-not-override-1me4733).ant-modal-root
    .ant-modal-centered
    .ant-modal {
    width: 1700px !important;
}
