.order_card {
    margin-top: 20px;
    border: 2px solid #eee;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_card h1 {
    font-size: 28px;
}
.order_card p {
    font-size: 18px;
}
.order_info {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    column-gap: 15px;
    flex-wrap: wrap;
    font-size: 20px;

    padding: 5px;
}
.order_info-main {
    padding: 20px 10px;
}
.order_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
