.order_back {
    border: 1px solid #1677ff;
    transform: scale(1);
    height: 40px;
}
.order_btn {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
button {
    transform: scale(1.2);
}
